body{
    font-family:Georgia, Times, 'Times New Roman', serif;
    line-height: 1.23;
    background-color: #FFE7D2;
}
img{
    float: right;
}

h1{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 750;
}

h2{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
}

h3{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#banner {
    text-align: center;
    color: #835500;
    font-size:30px;
    font-weight:800;
  }
  