h1{
    font-family:Georgia, 'Times New Roman', Times, serif
}
header{
    background-color: #B9D8C5;
    padding: 1.5em;
}
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #FBFBEE;
    
}
